.gradle
*.project
/local.properties
.DS_Store
/build
classes/
gen/
/captures
*.iml
*.idea
build/kotlin/compileKotlinMetadata/
/common/build/
common/*
/buildSrc/.gradle/
/.settings/
/core-j/bin/
/core-js/bin/
/selenium-j/bin/
/example-jvm/out
/node_modules/
/core/node_modules/
/core/detekt/
/logs/*
/example-spring/build/
build/
/example-spring/bin/
/example-spring/.settings/
/core/.settings/
/web/node_modules/
/example-spring/out/
/example-js/node_modules/
/core/src/jvmMain/kotlin/de/p7s1/qa/sevenfacette/Base64.kt
