.gradle
*.project
/local.properties
.DS_Store
/build
classes/
gen/
/captures
*.iml
*.idea
build/kotlin/compileKotlinMetadata/
/common/build/
common/*
/buildSrc/.gradle/
/.settings/
/core-j/bin/
/core-js/bin/
/selenium-j/bin/

